    h1, h2, h3, h4, h5, h6 {
        font-family: "Press Start 2P", Courier, monospace;  
    }   

    h1 {
        font-size: 2em;
        padding-top: 10px;
        text-align: center;
    }

    body {
        background-color: lightpink
    }

    .container {
        max-width: 465px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    div img {
        max-width: 100%;
        height: auto;
        display: block;
        
    }

    div a {
        text-decoration: none;
        color: dimgray;
    }

    div a:hover {
        color: lightcoral
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>> */
    /* responsive text for mobile */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>> */

    @media (max-width: 465px) {
        h1 {
            font-size: 1.2em;
            text-align: center;
        }   
        
        div a {
            color: lightcoral
        }
    }

    @media (orientation: landscape) and (max-height:500px) {
        
        
        .container {

            width: auto;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }    
   
    }
 
