<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="Jean Cochrane">
    <title>
        {% if article and article.title %}
            {{ article.title }}
        {% elif page and page.title %}
            {{ page.title }}
        {% endif %}
        {% if article or page %}-{% endif %}
        Jean Cochrane
    </title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57"
          href="/theme/favicons/apple-touch-icon-57x57.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="60x60"
          href="/theme/favicons/apple-touch-icon-60x60.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="72x72"
          href="/theme/favicons/apple-touch-icon-72x72.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="76x76"
          href="/theme/favicons/apple-touch-icon-76x76.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="114x114"
          href="/theme/favicons/apple-touch-icon-114x114.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="120x120"
          href="/theme/favicons/apple-touch-icon-120x120.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="144x144"
          href="/theme/favicons/apple-touch-icon-144x144.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="152x152"
          href="/theme/favicons/apple-touch-icon-152x152.png?v=9BB2LQ0Ooa" />
    <link rel="apple-touch-icon" sizes="180x180"
          href="/theme/favicons/apple-touch-icon-180x180.png?v=9BB2LQ0Ooa" />
    <link rel="icon" type="image/png"
          href="/theme/favicons/favicon-32x32.png?v=9BB2LQ0Ooa" sizes="32x32" />
    <link rel="icon" type="image/png"
          href="/theme/favicons/favicon-194x194.png?v=9BB2LQ0Ooa" sizes="194x194" />
    <link rel="icon" type="image/png"
          href="/theme/favicons/favicon-96x96.png?v=9BB2LQ0Ooa" sizes="96x96" />
    <link rel="icon" type="image/png"
          href="/theme/favicons/android-chrome-192x192.png?v=9BB2LQ0Ooa"
          sizes="192x192" />
    <link rel="icon" type="image/png"
          href="/theme/favicons/favicon-16x16.png?v=9BB2LQ0Ooa" sizes="16x16" />
    <link rel="manifest" href="/theme/favicons/manifest.json?v=9BB2LQ0Ooa">
    <link rel="mask-icon" href="/theme/favicons/safari-pinned-tab.svg?v=9BB2LQ0Ooa"
          color="#5bbad5" />
    <link rel="shortcut icon" href="/theme/favicons/favicon.ico?v=9BB2LQ0Ooa" />
    <meta name="apple-mobile-web-app-title" content="jeancochrane.com" />
    <meta name="application-name" content="jeancochrane.com" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=9BB2LQ0Ooa" />
    <meta name="theme-color" content="#ffffff" />
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<nav class="nav navbar-default navbar-transparent">
    <div class="container nav-container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/">
            <h2 class="main-logo">
                Jean Cochrane
            </h2>
        </a>
        </h1>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ PORTFOLIO_URL }}"
                    {% if output_file == 'index.html' %}
                        class="active"
                    {% endif %}>
                        <i class="fa fa-fw fa-code" aria-hidden="true"></i>
                        Work
                    </a>
                </li>
                <!--
                <li>
                    <a href="{{ PLAY_URL }}"
                    {% if PLAY_URL[1:] in output_file %}
                        class="active"
                    {% endif %}>
                        <i class="fa fa-fw fa-music" aria-hidden="true"></i>
                        Play
                    </a>
                </li>
                -->
                <li>
                    <a href="{{ BLOG_URL }}"
                    {% if BLOG_URL[1:] in output_file %}
                        class="active"
                    {% endif %}>
                        <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                        Blog
                    </a>
                </li>
                <li>
                    <a href="{{ ABOUT_URL }}"
                    {% if ABOUT_URL[1:] in output_file %}
                        class="active"
                    {% endif %}>
                        <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content-container">
    {% block content %}
    {% endblock %}
</div>

<footer class="container-fluid">
    <div class="row text-center footer-text">
        <p class="small">Made by Jean, with love. Many thanks to the good folks behind <a href="https://blog.getpelican.com/">Pelican</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="http://fontawesome.io">Font Awesome</a>, and <a href="https://flickity.metafizzy.co">Flickity</a> for their fabulous open source libraries.</p>
        <p class="small">View the source code <a href="https://github.com/jeancochrane/jeancochrane.com">on GitHub</a>.</p>
    </div>
</footer>

</body>

<!-- Scripts and stylesheets at the bottom for faster loading -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600'
      rel='stylesheet' type='text/css' />
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous" />
<link href="/theme/css/main.css" rel="stylesheet" type="text/css" />
<link href="/theme/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

<script src="/theme/js/filtering.js"></script>

{% block extra_js %}
{% endblock %}

</html>
