<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5">
        <p class="short-bio">
            designs dynamic tools for understanding geography, technology,
            and distributions of power&mdash;with a commitment to public data
            and critical design.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 icon-illustrations text-center">
        <img class="sidebar" src ="/theme/images/icon_music_color.png" />
        <img class="large1" src="/theme/images/icon_comics_color.png" />
        <img class="large2" src="/theme/images/icon_blog_color.png" />
    </div>
</div>
