{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5">
            <p class="short-bio">
                designs dynamic tools for understanding geography, technology,
                and distributions of power&mdash;with a commitment to public data
                and critical design.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 icon-illustrations text-center">
            <img class="sidebar" src ="/theme/images/icon_music_color.png" />
            <img class="large1" src="/theme/images/icon_comics_color.png" />
            <img class="large2" src="/theme/images/icon_blog_color.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-11">
            <h2 class="section-header">
                <i class="fa fa-fw fa-code"></i>
                Work
            </h2>
            <hr />
        </div>
        <div class="col-xs-12">

            <p>Filter by category:<p>
            <div class="button-group filters-button-group">
                {% for CATEGORY in WORK_CATEGORIES %}
                    <button class="button" data-filter=".{{ CATEGORY }}">{{ CATEGORY }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="grid">
            {% for page in pages %}
                {% if page.type == 'work' %}
                    <a href="{{ page.url }}">
                        <div class="element-item thumbnail {{ page.category }}"
                            id="slug"
                            data-category="{{ page.category }}">
                            <img src="{{ page.thumbnail }}"></img>
                            <h3>{{ page.title }}</h3>
                            <small>{{ page.summary }}</small>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
