{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% include 'header.html' %}

    <div class="row">
        <div class="col-xs-12 col-lg-11">
            <h2 class="section-header">
                <i class="fa fa-fw fa-code"></i>
                Work
            </h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="grid">
            {% for page in pages %}
                {% if page.type == 'work' %}
                    <a href="{{ page.url }}">
                        <div class="element-item thumbnail {{ page.category }}"
                            id="slug"
                            data-category="{{ page.category }}">
                            <img src="{{ page.thumbnail }}"></img>
                            <h3>{{ page.title }}</h3>
                            <small>{{ page.summary }}</small>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
