{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>{{ page.title }}</h1>
            <p class="short-bio">{{ page.summary }}</p>
            {% if page.thumbnail %}
                <img class="img img-responsive center-block work-image"
                     src="{{ page.thumbnail }}" />
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1
                    col-md-8 col-md-offset-2 content-body">
            {{ page.content }}

            {% if page.footer %}
                <p class="footer"><i>{{ page.footer }}</i></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
